*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
html{
    min-height: 100%;
    position: relative;
}

body{
    margin:0px; 
    padding:0px; 
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

h1{
    margin:0px auto;
    display:table; 
    font-size:26px; 
    padding:40px 0px; 
    color:#002e5b; 
    text-align:center;
}
h1 span{font-weight:500;}

header{width:100%; 
    display:table; 
    margin-bottom:50px;
}

.logo{
    margin-left: 30px;
}


/* Configuracion de la barra de navegacion*/
nav{
    width:auto; 
    float:right;}

nav ul{
    display:table; 
    float:right;}

nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    color:#002e5b; 
    font-size:18px; 
    padding: 25px 20px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:#002e5b;
     color:#ffffff; 
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#faf9fc; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#002e5b; 
    transition: all 0.5s ease 0s;
}

/* BARRA DE BUSQUEDA*/

input[type="search"]{
  margin-left: 20px;
  border-radius: 12px;
  width: 70%;
  border: 3px solid rgb(165, 164, 164);
}

/* CATEGORIAS*/

#categorias {
  margin:auto;
  margin-top: 10px;
  margin-left: 20px;
  width: 10%;
  height: 500px;
  float: left;
  margin-bottom: 110px;
border: 3px solid black;

}


/* CURSOS*/
#cursos {
    margin:auto;
    margin-top: 10px;

    float: inline;
    width: 70%;
    height: 70%;
    margin-bottom: 110px;
  border: 3px solid black;
  
}
.red {
  margin: auto;
  float: left;
  display:inline-table;
  width: 150px;
  height: 150px;
  margin-inline-end: 20px;
  border: 3px solid red;

}
.blue {
  margin: auto;
  float: left;
  display:inline-table;
  width: 150px;
  height: 150px;
  margin-inline-end: 20px;
  border: 3px solid blue;

}
.orange {
  margin: auto;
  float: left;
  display:inline-table;
  width: 150px;
  height: 150px;
  margin-inline-end: 20px;
  border: 3px solid orange;

}

.green {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  border: 3px solid green;
}

    /* MODIFICAR LAS ESQUINAS
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 10%;*/

  /* CURSOS A LOS QUE PERTENECES*/
#perteneces {
  margin:auto;
  float: inline;
  width: 70%;
  height: 70%;
  margin-bottom: 110px;
border: 3px solid black;

}
.curso1 {
margin: auto;
float: left;
display:inline-table;
width: 150px;
height: 150px;
margin-inline-end: 20px;
border: 3px solid red;

}
.curso2 {
margin: auto;
float: left;
display:inline-table;
width: 150px;
height: 150px;
margin-inline-end: 20px;
border: 3px solid blue;

}
.curso3 {
margin: auto;
float: left;
display:inline-table;
width: 150px;
height: 150px;
margin-inline-end: 20px;
border: 3px solid orange;

}

.curso4 {
display: inline-block;
position: relative;
width: 150px;
height: 150px;
border: 3px solid green;
}





/*Configuracion de footer*/
footer {
    background-color:rgb(172, 188, 236);
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-bottom: 1px;
  }
  .footer1{
    margin: 5px;
    margin-left: 20px;
    float: left;
  }

  .logo-footer{
      margin: 5px;
      float: right;
  }

  .social{
    margin: 30px;
    float: right;
  }