form{
	width:500px;
	margin:0% auto;
}

label{
	margin-top:20px;
	display:block;
	letter-spacing:1px;	
}

.formulario{
	display:block;
	margin-left:0%;
	margin-right:auto;
	width:510px;
	color:#000000;
	font-family:arial;
}

input[type="submit"]{
	width:140px;
	height:40px;
	margin-top:8px;
	border-radius: 12px;
	cursor:pointer;
    display: inline-flex;
    background-color:#ad5831;

}

input{
	width:380px;
	height:40px;
	background-color:#407185;
	border:2px solid #020202;
    border-radius: 12px;
	padding:10px;
	margin-top:5px;
	font-size:16px;
	color:#ffffff;
}