*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
html{
    min-height: 100%;
    position: relative;
}

body{
    margin:0px; 
    padding:0px; 
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

h1{
    margin:0px auto;
    display:table; 
    font-size:26px; 
    padding:40px 0px; 
    color:#002e5b; 
    text-align:center;
}
h1 span{font-weight:500;}

header{width:100%; 
    display:table; 
    margin-bottom:50px;
}

.logo{
    margin-left: 20px;
}


/* Configuracion de la barra de navegacion*/
nav{
    width:auto; 
    float:right;}

nav ul{
    display:table; 
    float:right;}

nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    color:#002e5b; 
    font-size:18px; 
    padding: 25px 20px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:#002e5b;
     color:#ffffff; 
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#faf9fc; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#002e5b; 
    transition: all 0.5s ease 0s;
}
/* Configuracion de la barra de navegacion*/
input[type="search"]{
    margin-left: 20px;
    border-radius: 12px;
    width: 40%;
    border: 3px solid rgb(165, 164, 164);
}

/*Configuracion divs*/
.principal{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 70%;
    margin-bottom: 110px;
}
.cat-buscadas{
    margin: auto;
    float: left;
    display:inline-table;
    width: 50%;
    height: auto;
    padding:7px;
    border-radius: 15px;
    border: black 5px solid;
    margin-bottom: 110px;

}


.ofertas{
    margin: auto;
    float: right;
    display: inline-flex;
    width: 40%;
    height: auto;
    padding:7px;
    border-radius: 15px;
    border: black 5px dashed;
    margin-bottom: 110px;

}

/*Configuracion de footer*/
footer {
    background-color:rgb(172, 188, 236);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-bottom: 1px;
  }
  .footer1{
      margin: 5px;
    float: left;
  }

  .logo-footer{
      margin: 5px;
      margin-left: 20px;
      float: right;
  }

  .social{
    margin: 30px;
    float: right;
  }



