*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
html{
    min-height: 100%;
    position: relative;
}

body{
    margin:0px; 
    padding:0px; 
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

h1{
    margin:0px auto;
    display:table; 
    font-size:26px; 
    padding:40px 0px; 
    color:#002e5b; 
    text-align:center;
}
h1 span{font-weight:500;}

header{
    width:100%; 
    display:table; 
    margin-bottom:50px;
    width: 95%;
}

.logo{
    margin-left: 5%;
}


/* Configuracion de la barra de navegacion*/
nav{
    float:right;

}

nav ul{
    display:table; 
    float:right;
}

nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;

}
nav ul li a{
    color:#000000; 
    font-size:18px; 
    padding: 25px 20px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:#002e5b;
     color:#ffffff; 
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#faf9fc; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#002e5b; 
    transition: all 0.5s ease 0s;
}
.general{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 700px;
    margin-bottom: 110px;
}

.imagen{
    float: left;
    height: 700px;
    margin-right: 20px;
    
}

.descripcion{
    margin: auto;
    text-align: justify;
    margin-top: 20px;
}

button{
    margin-top: 30px;
    width: 400px;
    height: 70px;
    cursor: pointer;
    background-color: rgb(32, 147, 214);
    border: rgba(33, 158, 230, 0.7);
    border-radius: 4px;
}

/*footer*/

* {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    color: rgb(0, 0, 0);
    line-height: 1;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(210, 218, 230) 0%, #3387d6d2 50%, rgb(15, 14, 14) 95%);}
  footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: rgb(0, 0, 0);
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #a70909;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }

  .social{
    margin: 30px;
    float: right;
    position: relative;
  }
