

.titulo {
	font-size: 1.4rem;
	text-align: center;
	bottom: 0;
	padding: 20px;
	color: black;
}

form {
		width: 700px;
		margin: 0 auto;
		overflow: hidden;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(183, 218, 186) 0%, #024d21d2 50%, rgb(15, 14, 14) 95%);
		color: #fff;
		margin-bottom: 150px;    
	}

form > div > label {
	display: block;
	padding: 20px 20px 10px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

form > div {
	height: 86px;
}

label > input,
label > input[type='email'],
label > textarea {
	display: inline-block;
	position: relative;
	width: 100%;
	line-height: 27px;
	margin: 5px -5px 0;
	padding: 7px 5px 3px;
	border: none;
	outline: none;
	color: #555;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	opacity: 0.6;
	transition: all linear 0.3s;
}

.col-submit {
	text-align: center;
    padding: 20px;
	margin-top: 50px;
}

label > input:focus,
label > textarea:focus {
	opacity: 1;
}

button {
	width: 100px;
	height: 35px;
	border: none;
	border-radius: 4px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	position: relative;
}

button.submitbtn {
	background-image: -moz-linear-gradient(#97c16b, #8ab959);
	background-image: -webkit-linear-gradient(#97c16b, #8ab959);
	background-image: linear-gradient(#97c16b, #8ab959);
	border-bottom: 1px solid #648c3a;
	cursor: pointer;
	color: #fff;
}
button.submitbtn:hover {
	background-image: -moz-linear-gradient(#8ab959, #7eaf4a);
	background-image: -webkit-linear-gradient(#8ab959, #7eaf4a);
	background-image: linear-gradient(#8ab959, #7eaf4a);
}
button.submitbtn:active {
	height: 34px;
	border-bottom: 0;
	margin: 1px 0 0 0;
	background-image: -moz-linear-gradient(#7eaf4a, #8ab959);
	background-image: -webkit-linear-gradient(#7eaf4a, #8ab959);
	background-image: linear-gradient(#7eaf4a, #8ab959);
	-moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

