*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
html{
    min-height: 100%;
    position: relative;
}

body{
    margin:0px; 
    padding:0px; 
    margin-bottom: 40px;
}

h1{
    margin:0px auto;
    display:table; 
    font-size:26px; 
    padding:40px 0px; 
    color:#002e5b; 
    text-align:center;
}
h1 span{font-weight:500;}

header{
    width:100%; 
    display:table; 
    margin-bottom:40px;
    width: 95%;
}

.logo{
    margin-left: 5%;
}


/* Configuracion de la barra de navegacion*/
nav{
    float:right;

}

nav ul{
    display:table; 
    float:right;
}

nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;

}
nav ul li a{
    color:#000000; 
    font-size:18px; 
    padding: 25px 20px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:#002e5b;
     color:#ffffff; 
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#faf9fc; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#002e5b; 
    transition: all 0.5s ease 0s;
}
/* BARRA DE BUSQUEDA*/
.box{
	margin-left: 5%;
  }
  
  .container-3{
	margin-left: 5%;
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
  }
   
  .container-3 input#search{
	width: 300px;
	height: 50px;
	background: #b0c2eb;
	border: none;
	font-size: 10pt;
	float: left;
	color: #262626;
	padding-left: 45px;
	color: rgb(0, 0, 0);
  }
  
  .container-3 input#search::-webkit-input-placeholder {
	color: #65737e;
  }
  
  .container-3 input#search:-moz-placeholder { /* Firefox 18- */
	color: #65737e;  
  }
  
  .container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
	color: #65737e;  
  }
  
  .container-3 input#search:-ms-input-placeholder {  
	color: #65737e;  
  }
  
  .container-3 .icon{
	position: absolute;
	top: 50%;
	margin-left: 17px;
	margin-top: 17px;
	z-index: 1;
	color: #4f5b66;
   
	 -webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-ms-transition: all .55s ease;
	-o-transition: all .55s ease;
	transition: all .55s ease;
  }
  
  .container-3 input#search:focus, .container-3 input#search:active{
	outline:none; 
  }
  
  .container-3:hover .icon{
  margin-top: 16px;
  color: #93a2ad;
  
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
   transform:scale(1.5);
  }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.nombre_cat{
	height: 10px;
	float: left;
}

.wrap{
	width: 80%;
	margin: auto;
	float: left;
	margin-bottom: 150px;
}


.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #627faa;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
	height: 800px;
}


.products-list .product-item{
	width: 30%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	background: #2D3E50;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}

/*Configuracion de footer*/
* {
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 1px;
	padding: 0;
  }
  
  ul {
	list-style: none;
	padding-left: 0;
  }
  footer {
	color: rgb(0, 0, 0);
	line-height: 1;
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(210, 218, 230) 0%, #3387d6d2 50%, rgb(15, 14, 14) 95%);}
  footer a {
	text-decoration: none;
	color: rgb(0, 0, 0);
  }
  a:hover {
	text-decoration: underline;
  }
  .ft-title {
	color: rgb(0, 0, 0);
	font-family: "Merriweather", serif;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
  .container {
	flex: 1;
  }
  /* Footer main */
  .ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  .ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
	display: flex;
	flex-wrap: wrap;
  }
  input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
  }
  input[type="submit"] {
	background-color: #a70909;
	color: #fff;
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
  }
  
  .social{
	margin: 30px;
	float: right;
	position: relative;
  }