.general{
	width: auto;
	margin-bottom: 1px;
}
.accordionMenu {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 150px;
}
.accordionMenu input[type='radio'] {
	display: none;
}
.accordionMenu label {
	display: block;
	height: 50px;
	line-height: 47px;
	padding: 0 25px 0 10px;
	background: #2c97de;
	font-size: 18px;
	color: #fff;
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid #e6e6e6;
}
.accordionMenu label::after {
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #ffffff;
	position: absolute;
	right: 10px;
	top: 20px;
	z-index: 10;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.accordionMenu .content {
	max-height: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}
.accordionMenu .content .inner {
	font-size: 1.2rem;
	color: #2c97de;
	line-height: 1.5;
	background: white;
	padding: 20px 10px;
}
.accordionMenu input[type='radio']:checked + label:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.accordionMenu input[type='radio']:checked + label + .content {
	max-height: 2000px;
	height: auto;
}

.fondo{
	position: absolute;
	margin-left: 20%;
	margin-bottom: 150px;
	filter: blur(3px);

}

* {
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 1px;
	padding: 0;
  }
  
  ul {
	list-style: none;
	padding-left: 0;
  }
  footer {
	color: rgb(0, 0, 0);
	line-height: 1;
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(210, 218, 230) 0%, #3387d6d2 50%, rgb(15, 14, 14) 95%);}
  footer a {
	text-decoration: none;
	color: rgb(0, 0, 0);
  }
  a:hover {
	text-decoration: underline;
  }
  .ft-title {
	color: rgb(0, 0, 0);
	font-family: "Merriweather", serif;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
  .container {
	flex: 1;
  }
  /* Footer main */
  .ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  .ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
  }
  input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
  }
  input[type="submit"] {
	background-color: #a70909;
	color: #fff;
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
  }
  
  .social{
	margin: 30px;
	float: right;
	position: relative;
  }