* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(39, 39, 39);
}

body {
  background-color: #ffffff;
}

/*Configuracion div principal*/
.login_principal {
  width: 700px;
  height: 500px;
}

.card {
  position: absolute;
    top: 350px;
    left: 720px;
    width: 350px;
    padding: 20px;
    padding-top: 0px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 1px 32px 0px rgba(0, 0, 0, 0.24);
}

.form {
    display: flex;
    flex-direction: column;
}

form>* {
    margin-top: 30px;
}

h1{
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

input[type="button"] {
    border: none;
    cursor: pointer;
    background-color: #2d4da5;
    padding: 10px;
    border-radius: 10px;
}
input {
    font-size: 20px;
    border: none;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 100%;
}    

.passwordInput {
    width: 100%;
    position: relative;
}

.passwordInput span {
    position: absolute;
    right: 20px;
    margin-top: 7px;
    cursor: pointer;
    font-size: 30px;
}

#hidePassword {
    display: none;
}


/*Configuracion de footer*/
* {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}
footer {
  color: rgb(0, 0, 0);
  line-height: 1;
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(210, 218, 230) 0%, #3387d6d2 50%, rgb(15, 14, 14) 95%);}
footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: rgb(0, 0, 0);
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
.form1 {
  display: flex;
  flex-wrap: wrap;
}
.email1[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
.submit1[type="submit"] {
  background-color: #a70909;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

.social{
  margin: 30px;
  float: right;
  position: relative;
}
