*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
html{
    min-height: 100%;
    position: relative;
}

body{
    margin:0px; 
    padding:0px; 
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

h1{
    margin:0px auto;
    display:table; 
    font-size:26px; 
    padding:40px 0px; 
    color:#002e5b; 
    text-align:center;
}
h1 span{font-weight:500;}

header{
    width:100%; 
    display:table; 
    margin-bottom:50px;
    width: 95%;
}

.logo{
    margin-left: 5%;
}


/* Configuracion de la barra de navegacion*/
nav{
    float:right;

}

nav ul{
    display:table; 
    float:right;
}

nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;

}
nav ul li a{
    color:#000000; 
    font-size:18px; 
    padding: 25px 20px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:#002e5b;
     color:#ffffff; 
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#faf9fc; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#002e5b; 
    transition: all 0.5s ease 0s;
}
/* Configuracion de curso*/

.general{
    margin: auto;
    margin-top: 10px;
    margin-left: 10%;
    width: 90%;
    height: 500px;
    margin-bottom: 110px;
}

.imagen{
    float: left;
    width: 30%;
    height: 400px;
    margin-right: 20px;
}
.titulo{
    width: 60%;
    text-align: justify;
    height: 400px;
    margin-left: 10px;
    display: inline-block;
    margin-top: 30px;
}

.boton_personalizado{
    text-decoration: none;
    margin-top: 10px;
	  float: left;
  	width: 70%;
    padding: 10px;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }

  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

  .a{
	cursor: pointer !important;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
  }

/* Configuracion de tabs*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #ffffff;
}
.container{
    width: 80%;
	height: 400px;
    margin: auto;
	margin-bottom: 400px;
}
.lbl-menu{
    background: #234;
}
.lbl-menu label{
    display: inline-block;
    padding: 20px;
    color: rgb(238, 238, 238);
    cursor: pointer;
    transition: all 400ms ease;
}
.lbl-menu label:hover{
    background: #28435d;
}
.content{
    position: relative;
    margin-bottom: 380px;
}
.content div{
    position: absolute;
	  width: 100%;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: rgba(236, 236, 236, 0.918);
    padding-bottom: 40px;
}
#radio1,#radio2,#radio3,#radio4,#radio5{
    display: none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4,
#radio5:checked ~ .tab5
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.content div:after{
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 100%;
    left: 60px;
}
.content .tab2:after{
    left: 210px;
}
.content .tab3:after{
    left: 350px;
}
.content .tab4:after{
    left: 480px;
}

.content .tab5:after{
  left: 620px;
}
/*foto de los profes*/
.profe{
  border-radius: 50px;
}

/*footer*/

* {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    color: rgb(0, 0, 0);
    line-height: 1;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(210, 218, 230) 0%, #3387d6d2 50%, rgb(15, 14, 14) 95%);}
  footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: rgb(0, 0, 0);
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #a70909;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }

  .social{
    margin: 30px;
    float: right;
    position: relative;
  }