*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
html{
    min-height: 100%;
    position: relative;
}

body{
    margin:auto; 
    padding:0px; 
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;

}

h1{
    margin:0px auto;
    display:table; 
    font-size:26px; 
    padding:40px 0px; 
    color:#002e5b; 
    text-align:center;
}
h1 span{font-weight:500;}

header{
    width:95%; 
    display:table; 
    margin-bottom:80px;

}

.logo{
    margin-left: 5%;
}


/* Configuracion de la barra de navegacion*/
nav{
    float:right;

}

nav ul{
    display:table; 
    float:right;
}

nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;

}
nav ul li a{
    color:#000000; 
    font-size:18px; 
    padding: 25px 20px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:#002e5b;
     color:#ffffff; 
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#faf9fc; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#002e5b; 
    transition: all 0.5s ease 0s;
}



*{
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: sans-serif;
}

.formulario{
  width: 700px;
  position:relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(5, 5, 5, 0.7);
  margin-bottom: 150px;
}

.formulario__titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(5, 5, 5, 0.7);
    margin-bottom: 20px;
}

.formulario__input, .formulario__label,
.formulario__submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
}

.formulario__input{
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border:1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.formulario__input:focus{
    outline: 1px solid rgba(0, 0, 0, 0.7);

}

.formulario__input:focus + 
.formulario__label{
    margin-top: -135px;

}


.formulario__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.formulario__submit{
    background: #0960a7;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    margin-top: -135px;
}



/*Configuracion de footer*/
* {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    color: rgb(0, 0, 0);
    line-height: 1;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(210, 218, 230) 0%, #3387d6d2 50%, rgb(15, 14, 14) 95%);}
  footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: rgb(0, 0, 0);
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  /* Footer main | Newsletter form */
  .form2 {
    display: flex;
    flex-wrap: wrap;
  }
  .email2[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #a70909;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }

  .social{
    margin: 30px;
    float: right;
    position: relative;
  }