*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
html{
    min-height: 100%;
    position: relative;
}

body{
    margin:0px; 
    padding:0px; 
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

h1{
    margin:0px auto;
    display:table; 
    font-size:26px; 
    padding:40px 0px; 
    color:#002e5b; 
    text-align:center;
}
h1 span{font-weight:500;}

header{
  width:100%; 
  display:table; 
  margin-bottom:50px;
  width: 95%;
}

.logo{
  margin-left: 5%;
}



/* Configuracion de la barra de navegacion*/
nav{
    float:right;}

nav ul{
    display:table; 
    float:right;}

nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    color:#002e5b; 
    font-size:18px; 
    padding: 25px 20px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:#002e5b;
     color:#ffffff; 
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#faf9fc; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#002e5b; 
    transition: all 0.5s ease 0s;
}

/* BARRA DE BUSQUEDA*/
.box{
  margin-left: 5%;
}

.container-3{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
 
.container-3 input#search{
  width: 300px;
  height: 50px;
  background: #b0c2eb;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.container-3 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-3 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;  
}

.container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;  
}

.container-3 input#search:-ms-input-placeholder {  
  color: #65737e;  
}

.container-3 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
 
   -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-3 input#search:focus, .container-3 input#search:active{
  outline:none; 
}

.container-3:hover .icon{
margin-top: 16px;
color: #93a2ad;

-webkit-transform:scale(1.5); /* Safari and Chrome */
-moz-transform:scale(1.5); /* Firefox */
-ms-transform:scale(1.5); /* IE 9 */
-o-transform:scale(1.5); /* Opera */
 transform:scale(1.5);
}

/* CATEGORIAS*/

#general{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 1200px;
    margin-bottom: 110px;

}
#categorias {
  margin:auto;
  margin-top: 30px;
  width: 20%;
  height: 700px;
  float: left;
  margin-bottom: 110px;

}
p{
  margin-top: 10px;
}

.nivel{
  margin-top: 10px;
}


/* CURSOS*/
#cursos {
    margin:auto;
    margin-top: 30px;
    width: 70%;
    height: 500px;
    margin-left: 20%;
    text-align: center;

}
.cisco {
  margin: auto;
  margin-top: 30px;
  margin-left: 40px;
  float: left;
  display:inline-table;
  width: 150px;
  height: 150px;
  margin-inline-end: 20px;
  margin-bottom: 30px;
}

.kubernetes {
  margin: auto;
  margin-top: 30px;
  margin-left: 40px;
  float: left;
  display:inline-table;
  width: 150px;
  height: 150px;
  margin-inline-end: 20px;


}

.PT {
  margin: auto;
  margin-top: 30px;
  margin-left: 40px;
  float: left;
  display:inline-table;
  width: 150px;
  height: 150px;
  margin-inline-end: 20px;

}

.kubernetes1{
  margin: auto;
  position: absolute;
  margin-left: 40px;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;

}

#cursos2 {
    position:static;
    width: 70%;
    height: 500px;
    margin-bottom: 110px;
    margin-left: 20%;
    text-align: center;

}

    /* MODIFICAR LAS ESQUINAS
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 10%;*/



/*Configuracion de footer*/
* {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}
footer {
  color: rgb(0, 0, 0);
  line-height: 1;
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px , rgb(210, 218, 230) 0%, #3387d6d2 50%, rgb(15, 14, 14) 95%);}
footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: rgb(0, 0, 0);
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #a70909;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

.social{
  margin: 30px;
  float: right;
  position: relative;
}